$image-size: 30px;

:host {
  margin-bottom: 1rem;
  display: block;
}

.post {
  &__header {
    display: grid;
    grid-template-columns: $image-size 1fr 20px;
    align-items: center;
    padding: .5rem 1rem;
    grid-column-gap: 1rem;

    .user-image {
      border-radius: 50%;
      margin: 0;
      height: $image-size;
      width: $image-size;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .username {
      flex: 1;
      font-size: 0.875rem;
    }

    .icon-dots {
      font-size: 1.3rem;
    }
  }

  &__interactions {
    display: flex;
    padding: .5rem 1rem;
    justify-content: space-between;

    span {
      font-size: 1.5rem;
    }

    .group {
      display: flex;

      span, .like-btn {
        margin-right: 1rem;
      }

      .like-btn {
        position: relative;
        width: 24px;
        height: 25px;
        display: inline-block;

        span {
          position: absolute;
        }
      }
    }
  }

  &__info {
    padding: 0 1rem;
    font-size: .865rem;

    .all_comments {
      color: var(--ion-color-medium);
    }

    .time {
      color: var(--ion-color-medium);
      display: block;
      font-size: .725rem;
      margin-top: 8px;
    }
  }
}

.icon-heart {
  opacity: 0;

  .init {
    animation: none;
    transform: scale(1);
  }

  &.no-liked {
    opacity: 1;
    animation: like-post .25s forwards;
  }
}

.icon-heart_filled {
  opacity: 0;
  transform: scale(.5);
  color: red;

  &.liked {
    opacity: 1;
    animation: like-post .25s forwards;

    &.init {
      animation: none;
      color: red;
      transform: scale(1);
    }
  }
}

@keyframes like-post {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


